[submodule "erlang"]
	path = erlang
	url = git@github.com:EmilienMottet/exercism-erlang-sol.git
	branch = master
[submodule "elixir"]
	path = elixir
	url = git@github.com:EmilienMottet/exercism-elixir-sol.git
	branch = master
[submodule "ruby"]
	path = ruby
	url = git@github.com:EmilienMottet/exercism-ruby-sol.git
	branch = master
[submodule "clojure"]
	path = clojure
	url = git@github.com:EmilienMottet/exercism-clojure-sol.git
	branch = master
[submodule "go"]
	path = go
	url = git@github.com:EmilienMottet/exercism-go-sol.git
	branch = master
[submodule "java"]
	path = java
	url = git@github.com:EmilienMottet/exercism-java-sol.git
	branch = master
[submodule "rust"]
	path = rust
	url = git@github.com:EmilienMottet/exercism-rust-sol.git
	branch = master
[submodule "x86-64-assembly"]
	path = x86-64-assembly
	url = git@github.com:EmilienMottet/exercism-x86-64-sol.git
	branch = master
[submodule "emacs-lisp"]
	path = emacs-lisp
	url = git@github.com:EmilienMottet/exercism-elisp-sol.git
	branch = master
[submodule "c"]
	path = c
	url = git@github.com:EmilienMottet/exercism-c-sol.git
	branch = master
[submodule "cpp"]
	path = cpp
	url = git@github.com:EmilienMottet/exercism-cpp-sol.git
	branch = master
