[submodule "erlang"]
	path = erlang
	url = git@github.com:EmilienMottet/exercism-erlang-sol.git
[submodule "elixir"]
	path = elixir
	url = git@github.com:EmilienMottet/exercism-elixir-sol.git
[submodule "ruby"]
	path = ruby
	url = git@github.com:EmilienMottet/exercism-ruby-sol.git
[submodule "clojure"]
	path = clojure
	url = git@github.com:EmilienMottet/exercism-clojure-sol.git
[submodule "go"]
	path = go
	url = git@github.com:EmilienMottet/exercism-go-sol.git
[submodule "java"]
	path = java
	url = git@github.com:EmilienMottet/exercism-java-sol.git
[submodule "rust"]
	path = rust
	url = git@github.com:EmilienMottet/exercism-rust-sol.git
